<div class=grid>
  <section class="cover">
    <img src={{details.backdrop_path}} alt="cover-poster">
  </section>
  <div class="card">
    <img src={{details.poster_path}} alt="movie-poster" style="width:100%">
    <div class="container">
      <h4><b>{{details.original_title}}</b></h4>
      <p><b>Description:</b> {{details.overview}}</p>
      <p><b>Language: </b>{{details.original_language}}</p>
      <p><b>Popularity:</b> {{details.popularity}}</p>
      <p><b>Releasedate:</b> {{details.release_date}}</p>
      <p><b>Revenue:</b>{{details.revenue}}</p>
    </div>
  </div>
</div>

